* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #ffffe0;
  position: relative;
}
button {
  outline: none;
  border: none;
  background: none;
}
.wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  color: #8f7a66;
  width: 400px;
}

.title {
  font-size: 50px;
}
.slogan {
  font-size: 17px;
}
.newgame,
.score,
.best {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  height: 50px;
  margin: 20px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}
.newgame {
  line-height: 50px;
  background: #8f7a66;
}
.newgame:hover {
  font-size: 15px;
  border: 5px inset #b89c89;
  line-height: 40px;
}
.score,
.best {
  line-height: 25px;
  background: #b9aa9c;
}

.gameboard {
  width: 400px;
  height: 400px;
  padding: 5px 5px;
  background: #b9ab9c;
  border-radius: 5px;
}

.grid {
  float: left;
  width: 87px;
  height: 87px;
  line-height: 87px;
  font-size: 30px;
  font-weight: bolder;
  margin: 5px;
  background: #ffffe0;
  border-radius: 5px;
}
.module {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.alert {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  color: #8f7a66;
  background-color: #ffffe0;
  width: 500px;
  height: 250px;
  line-height: 250px;
  text-align: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #8f7a66;
}

.btn {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 25px;
  width: 100px;
  height: 30px;
  font-size:17px;
  border-radius:5px;
  background:#8f7a66;
  color:#fff;
}

.footer{
  position:fixed;
  bottom:10px;
  right:20px;
  color: #8f7a66;
}
